@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #20466f;
  --secondary: #ffd147;
  --success: #16a34a;
  --warning: #eab308;
  --danger: #dc2626;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}
